/* Animacion de imagen de perfil */

.rotate {
    animation: rotation 8s;
}
.linear {
    animation-timing-function: linear;
}
.infinite {
    animation-iteration-count: infinite;
}
@keyframes rotation {
    from {
        transform: rotatey(0deg);
    }
    to {
        transform: rotatey(359deg);
    }
}