body{
    font-family: "Audiowide", sans-serif;
    background: rgb(44,40,104);
    background: linear-gradient(90deg, rgba(44,40,104,1) 0%, rgba(4,0,12,1) 30%);
    color: #F5C21B;
    overflow: hidden;
}

h4{
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.subtitle{
    font-weight: bold;
    text-align: center;
}

.index{
    width: 35%;
    height: 100%;
}

.content{
    width: 65%;
    height: 100%;
}

.scrollspy-example-2{
    overflow: auto;
    height: 85vh;
}

.sec{
    padding: 10px;
    width: 85%;
}

.miniatura-video{
    width: 150px;
    height: 95px;
    border-style: solid;
    border-color: wheat;
}

#pp{
    width: 100px;
    height: 100px;
}

#experience-period{
    width: 25%;
}

#experience-description{
    width: 75%;
}

.social-media-logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#left-content{
    gap: 20px;
}

#pp-container{
    width: 25%;
}

#name-continer{
    width: 75%;
}

/* RESPONSIVE */

@media (max-width: 1000px){
    body{
        overflow: scroll;
    }

    main{
        flex-direction: column;
    }
    p{
        text-align: justify;
    }
    .index{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .project-container{
        flex-direction: column;
    }
    .pp-name-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-title{
        text-align: center;
    }
    .miniatura-video{
        width: 200px;
        height: 130px;
    }
    #name-container{
        width: 100%;
    }
    #navbar-example3{
        margin-right: 80px;
        margin-left: 80px;
    }
    #name{
        width: 100%;
    }
    #experience-container{
        flex-direction: column;
        align-items: center;
    }
    #experience-period{
        width: 100%;
    }
    #experience-description{
        width: 100%;
    }
    #exp-period{
        text-align: center;
    }
    #pp-container{
        width: 100%;
    }
    #name-continer{
        width: 100%;
    }
    #pp-name-profesion{
        flex-direction: column;
    }
    #left-content{
        gap: 5px;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px){
    #navbar-example3{
        margin-right: 40px;
        margin-left: 40px;
    }
}

